._37{ background:url("37.png") top left no-repeat; }
.tile-final_r1_c3{ width:8px; height:8px; background-position:-10px -10px; }
.tile-final_r1_c2{ width:8px; height:8px; background-position:-10px -28px; }

